PLEASE FILL IN SECTIONS BELOW, REPLACING ITALIC TEXT WITH YOUR CONTENT

# Introduction
ADD A SUMMARY OF WHAT THIS NOTEBOOK DOES, KEY FINDINGS, PLUS ANY USEFUL DETAILS THAT MIGHT HELP OTHERS RUN IT. A FEW SENTENCES GO A LONG WAY!

# Setup
## Data
VERY, VERY IMPORTANT PLEASE PROVIDE DEATILS ABOUT THE DATA YOU USED AND HOW TO GET IT SO OTHERS CAN RUN THIS AMAZING NOTEBOOK TOO

|Dataset               | Type           | Description                                     |  Where to get the data |
|----------------------|----------------|-------------------------------------------------|------------------------|
|                      |                |                                                 |                        |
|                      |                |                                                 |                        |
|                      |                |                                                 |                        |

## Environment
PLEASE RUN THE PANEL BELOW SO OTHERS KNOW EXACTLY THE ENVIRONMENT

In [17]:
# Add package installs here, for example ...
# !pip install pycurl

!python -V

!pip install pandas

!pip list

Python 3.12.0
Requirement already satisfied: pandas in /Users/ravimakhija/.pyenv/versions/3.12.0/lib/python3.12/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.26.0 in /Users/ravimakhija/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ravimakhija/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ravimakhija/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/ravimakhija/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/ravimakhija/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [18]:
import pandas as pd
import os

## Settings
PLEASE USE VARIABLES FOR THINGS LIKE FILE LOCATIONS AND CONFIGURATION SETTINGS

In [23]:
DATA_DIRECTORY = './datasets'
LIHTCPUB_DATA_PATH = os.path.join(DATA_DIRECTORY, 'LIHTCPUB.CSV')

In [ ]:
pd.set_option('display.max_columns', 100)

## Data

In [24]:
df = pd.read_csv(LIHTCPUB_DATA_PATH)

/var/folders/x6/sjylc1gd7kx7zy6h7zzg45440000gn/T/ipykernel_28781/3187169931.py:1: DtypeWarning: Columns (72) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(LIHTCPUB_DATA_PATH)

In [25]:
df.head()

,hud_id,project,proj_add,proj_cty,proj_st,proj_zip,state_id,latitude,longitude,place1990,...,n_unitsr,li_unitr,metro,dda,qct,nonprog,nlm_reason,nlm_spc,datanote,record_stat
0,AKA0000X018,"GATEWAY-SEWARD ASSOCIATES, LTD PTN",1810 PHOENIX ROAD,SEWARD,AK,99664,AK-99-99,60.125469,-149.446060,NaN,...,20.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X
1,AKA0000X034,YENLO PHASE I AND II,402-451 NORTH YENLO STREET,WASILLA,AK,99654,AK-99-99,61.583096,-149.437637,NaN,...,37.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U
2,AKA19890010,PARK WEST APTS,2012 SANDVIK ST,FAIRBANKS,AK,99709,AK-89-00001,64.851646,-147.803421,1080.0,...,83.0,81.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X
3,AKA19900005,TYSON'S TERRACE,103 BURKHART DR,SITKA,AK,99835,AK-90-00001,57.048874,-135.303024,3040.0,...,16.0,16.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X
4,AKA19910005,NORTHWOOD APTS,190 PARKWOOD CIR,SOLDOTNA,AK,99669,AK-91-00001,60.489147,-151.073853,2810.0,...,23.0,22.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X

In [38]:
df.columns[71:74]

Index(['nlm_reason', 'nlm_spc', 'datanote'], dtype='object')

In [30]:
len(df.columns)

75

In [28]:
df2 = pd.read_csv(os.path.join(DATA_DIRECTORY, "LIHTCPUB_Null removed.csv"))

In [32]:
df2.head()

,hud_id,project,proj_add,proj_cty,proj_st,proj_zip,state_id,latitude,longitude,place1990,place2000,place2010,fips1990,fips2000,fips2010,st2010,cnty2010,scattered_site_cd,resyndication_cd,allocamt,n_units,li_units,n_0br,n_1br,n_2br,n_3br,n_4br,inc_ceil,low_ceil,ceilunit,yr_pis,yr_alloc,non_prof,basis,bond,mff_ra,fmha_514,fmha_515,fmha_538,home,home_amt,tcap,tcap_amt,cdbg,cdbg_amt,htf,htf_amt,fha,hopevi,hpvi_amt,tcep,tcep_amt,rad,qozf,qozf_amt,rentassist,trgt_pop,trgt_fam,trgt_eld,trgt_dis,trgt_hml,trgt_other,trgt_spc,type,credit,n_unitsr,li_unitr,metro,dda,qct,nonprog,nlm_reason,nlm_spc,datanote,record_stat
0,AKA19890010,PARK WEST APTS,2012 SANDVIK ST,FAIRBANKS,AK,99709,AK-89-00001,64.851646,-147.803421,1080.0,16750.0,16750.0,2090000600,2090000600,2090000600,2,90,2.0,NaN,NaN,83.0,81.0,0.0,41.0,42.0,0.0,0.0,NaN,NaN,NaN,1989,1989.0,2.0,2.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,83,81,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X
1,AKA19900005,TYSON'S TERRACE,103 BURKHART DR,SITKA,AK,99835,AK-90-00001,57.048874,-135.303024,3040.0,70540.0,70540.0,2220967500,2220000100,2220000100,2,220,2.0,NaN,NaN,16.0,16.0,0.0,16.0,0.0,0.0,0.0,NaN,NaN,NaN,1990,1990.0,2.0,2.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,16,16,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X
2,AKA19910005,NORTHWOOD APTS,190 PARKWOOD CIR,SOLDOTNA,AK,99669,AK-91-00001,60.489147,-151.073852,2810.0,65345.0,71640.0,2122953200,2122000500,2122000500,2,122,2.0,NaN,NaN,23.0,22.0,0.0,23.0,0.0,0.0,0.0,NaN,NaN,NaN,1991,1991.0,2.0,2.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,23,22,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X
3,AKA19930005,CHINOOK VILLA,1200 S CENTURY CIR,WASILLA,AK,99654,AK-93-00001,61.569851,-149.449509,NaN,83080.0,83080.0,2170975100,2170000900,2170000900,2,170,2.0,NaN,NaN,32.0,31.0,0.0,32.0,0.0,0.0,0.0,NaN,NaN,NaN,1993,1993.0,2.0,2.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,32,31,2.0,NaN,2.0,NaN,NaN,NaN,NaN,X
4,AKA19930010,STRASBAUGH PLACE,231 GASTINEAU AVE,JUNEAU,AK,99801,AK-92-00001,58.299683,-134.402664,1510.0,36400.0,36400.0,2110976900,2110000500,2110000500,2,110,2.0,NaN,NaN,7.0,7.0,3.0,2.0,2.0,0.0,0.0,NaN,NaN,NaN,1993,1992.0,1.0,2.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,7,7,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X

In [ ]:
# Put code here for getting your data. Use tools such as curl and wget if data is available online

## Analysis

In [ ]:
# This is where the magic happens!!!! Add your work here